.crd1:hover {
    position:absolute;
    z-index: 7;
    transform: translate(-50px,-20px);

}
.crd2:hover {
    position:absolute;
    z-index: 7;
    transform: translate(-50px,-20px);

}
.crd3:hover {
    position:absolute;
    z-index: 7;
    transform: translate(-50px,-20px);

}
.crd4:hover {
    position:absolute;
    z-index: 7;
    transform: translate(-50px,-20px);

}
.crd5:hover {
    position:absolute;
    z-index: 7;
    transform: translate(-50px,-20px);

}
.crd6:hover {
    position:absolute;
    z-index: 7;
    transform: translate(-50px,-20px);

}
/* Player 2 */
.p2crd1:hover {
    position:absolute;
    z-index: 7;
    transform: translate(-50px,-20px);
    transform: rotate(90deg);

}
.p2crd2:hover {
    position:absolute;
    z-index: 7;
    transform: translate(-50px,-20px);
    transform: rotate(90deg);
}
.p2crd3:hover {
    position:absolute;
    z-index: 7;
    transform: translate(-50px,-20px);
    transform: rotate(90deg);
}
.p2crd4:hover {
    position:absolute;
    z-index: 7;
    transform: translate(-50px,-20px);
    transform: rotate(90deg);
}
.p2crd5:hover {
    position:absolute;
    z-index: 7;
    transform: translate(-50px,-20px);
    transform: rotate(90deg);
}
.p2crd6:hover {
    position:absolute;
    z-index: 7;
    transform: translate(-50px,-20px);
    transform: rotate(90deg);
}
/* Player 3 */
.p3crd1:hover {
    position:absolute;
    z-index: 7;
    transform: translate(-50px,-20px);
    transform: rotate(90deg);

}
.p3crd2:hover {
    position:absolute;
    z-index: 7;
    transform: translate(-50px,-20px);
    transform: rotate(90deg);
}
.p3crd3:hover {
    position:absolute;
    z-index: 7;
    transform: translate(-50px,-20px);
    transform: rotate(90deg);
}
.p3crd4:hover {
    position:absolute;
    z-index: 7;
    transform: translate(-50px,-20px);
    transform: rotate(90deg);
}
.p3crd5:hover {
    position:absolute;
    z-index: 7;
    transform: translate(-50px,-20px);
    transform: rotate(90deg);
}
.p3crd6:hover {
    position:absolute;
    z-index: 7;
    transform: translate(-50px,-20px);
    transform: rotate(90deg);
}

.p4crd1:hover {
    position:absolute;
    z-index: 7;
    transform: translate(-50px,-20px);

}
.p4crd2:hover {
    position:absolute;
    z-index: 7;
    transform: translate(-50px,-20px);

}
.p4crd3:hover {
    position:absolute;
    z-index: 7;
    transform: translate(-50px,-20px);

}
.p4crd4:hover {
    position:absolute;
    z-index: 7;
    transform: translate(-50px,-20px);

}
.p4crd5:hover {
    position:absolute;
    z-index: 7;
    transform: translate(-50px,-20px);

}
.p4crd6:hover {
    position:absolute;
    z-index: 7;
    transform: translate(-50px,-20px);

}